@import '../global';

.Button {
  width: 150px;
  height: 35px;
  font-weight: 900;
  font-size: 12pt;
  background: $secondary;
  color: $primary;
  border: none;
  border-radius: $radius;
  box-shadow: $shadow;
  transition: transform 450ms linear;
  display: block;

  &:hover {
    cursor: pointer;
    transition: transform 250ms linear;
    transform: scale(1.05);
  }
}
