@import '../global';

.Button {
  width: 150px;
  height: 35px;
  font-weight: 900;
  font-size: 12pt;
  background: $secondary;
  color: $primary;
  border: none;
  border-radius: $radius;
  box-shadow: $shadow;
  transition: transform 300ms linear;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    transition: transform 200ms linear;
    transform: scale(1.05);
  }
}

.ConfirmButton {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  &__Confirmation {
    background-color: $white;
    border-radius: 4px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;

    & > span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      height: 35px;
      font-family: $font-secondary;
      font-weight: 700;
      font-size: 11pt;
      width: 90px;

      &:hover {
        opacity: 0.8;
      }
    }

    &--Confirm {
      background-color: $green;
    }

    &--Cancel {
      background-color: $warning;
    }
  }

  &__Icon {
    $size: 25px;
    width: $size;
    height: $size;

    &:hover {
      color: $primary;
    }
  }
}
