@import '../global';

.Container {
  padding: 0 1.5em 1.5em 1.5em;
  margin: 0 auto;
  width: 700px;

  &__Title {
    font-size: 32pt;
    padding: 10px;
    color: $primary;
  }
}

@media (max-width: 700px) {
  .Container {
    width: 100%;
    min-height: 100vh;
    height: auto;
  }
}

@media (max-width: 360px) {
  .Container {
    padding-top: 5px;

    &__Title {
      padding: 0;
    }
  }
}
