@import '../global';

.Input {
  display: flex;
  height: 35px;
  width: 350px;
  background-color: rgba($primary, 0.1);
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow;

  &__Icon {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: $border;

    svg {
      color: rebeccapurple;
      font-size: 14pt;
      color: $primary;
    }
  }

  &__Input {
    @include InputStyles();

    &::placeholder {
      color: $placeholder-color;
    }
  }
}
