@import '../global';
@import '../vars';

.Input {
  display: flex;
  min-height: 40px;
  width: 100%;
  background-color: rgba($primary, 0.1);
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow;

  &__Icon {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-right: $border;
    padding-top: $spacing;

    svg {
      font-size: 14pt;
    }
  }

  &__TextArea {
    @include InputStyles();
    resize: none;
    padding: $spacing 0 0 $spacing;

    &::placeholder {
      color: $placeholder-color;
    }
  }
}

.InputDark {
  border: 2px solid rgba($white, 0.2);
  background-color: rgba($dark, 0.3);
  box-shadow: 1px 1px 5px $dark;

  svg {
    color: $white;
  }

  .Input__TextArea {
    color: $white;

    &::placeholder {
      color: rgba($white, 0.8);
    }
  }
}

.SimpleInput_Container {
  position: relative;
}

.SimpleInput_Password-icon {
  position: absolute;
  color: $color-gray;
  font-size: $font-size-md;
  top: 8px;
  right: 8px;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

.SimpleInput {
  &.dark {
    background-color: $color-dark;
    color: $white;

    &::placeholder {
      color: $color-gray;
    }
  }

  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 0 12px;
  font-family: $font-secondary;
  font-size: 12pt;
  width: 100%;

  &.title {
    font-size: 11pt;
    font-weight: 700;
  }

  &::placeholder {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10pt;
  }
}

.SimpleTextArea {
  @extend .SimpleInput;
  padding-top: 12px;
  resize: none;
}
