@import '../global';

.Input {
  display: flex;
  height: 35px;
  width: 350px;
  background-color: rgba($primary, 0.1);
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow;

  &__Icon {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: $border;

    svg {
      color: rebeccapurple;
      font-size: 14pt;
      color: $primary;
    }
  }

  &__TextArea {
    @include InputStyles();
    resize: none;
    padding-top: 5px;

    &::placeholder {
      color: $placeholder-color;
    }
  }
}

.Dark {
  border: 2px solid $primary;
  background-color: rgba($primary, 0.3);

  svg {
    color: $white;
  }

  .Input__TextArea {
    color: $white;

    &::placeholder {
      color: rgba($white, 0.8);
    }
  }
}
