@import '../global.scss';

@keyframes jump {
  0% {
    transform: translateY(-20px);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateY(20px);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.Loading {
  display: grid;
  grid-auto-flow: column;
  gap: 4px;

  .circle {
    $size: 15px;
    width: $size;
    height: $size;
    border-radius: 4px;
    background-color: $primary;
    animation: jump 2s infinite linear;
  }

  &_1 {
    @extend .circle;
  }

  &_2 {
    @extend .circle;
  }

  &_3 {
    @extend .circle;
  }

  &_4 {
    @extend .circle;
  }
}
