@import '../global';

.Message {
  font-size: 18pt;
  font-weight: 600;
}

.MessageDark {
  color: $white;
}

@media (max-width: 720px) {
  .Message {
    font-size: 16pt;
    text-align: center;
  }
}
