@import '../global';

.Note {
  border: 2px solid $primary;
  border-radius: $radius;
  box-shadow: $shadow;
  padding: 1em;
  margin-bottom: 1em;

  &__Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: 2px solid rgba($primary, 0.6);

    &--title {
      font-size: $font-size-md;
      font-weight: bold;
      color: $primary;
    }

    &--buttons {
      display: flex;
      column-gap: 10px;
    }
  }

  &__Content {
    margin-top: 0.5em;

    &--text {
      font-size: $font-size-md;
      font-weight: 600;
    }

    &--text + &--text {
      margin-top: 10px;
    }
  }
}

.NoteDark {
  border: 2px solid rgba($secondary, 0.4);

  .Note__Header {
    border-bottom: 2px solid $secondary;

    &--title {
      color: $secondary;
    }
  }

  .Note__Content {
    color: $gray;
  }
}

.RemoveNoteModal {
  display: grid;
  place-items: center;
  row-gap: 16px;
  width: 320px;

  &-icon {
    $size: 70px;
    padding: 12px;
    border: 2px solid $warning;
    display: inline-flex;
    border-radius: $size;

    svg {
      width: $size;
      height: $size;
      color: $warning;
    }
  }

  .dark {
    &-description {
      color: $white;
    }
  }

  .light {
    &-description {
      color: $dark;
    }
  }

  &-description {
    font-size: $font-size-md;
    text-align: center;
  }

  &-confirm {
    font-size: $font-size-md;
    border: none;
    height: 40px;
    padding: 0 12px;
    background-color: $warning;
    color: $white;
    font-family: $font-secondary;
    border-radius: 4px;
    font-weight: 700;
    &:hover {
      background-color: rgba($warning, 0.2);
      color: $warning;
    }
  }
}

@media (max-width: 720px) {
  .Note {
    &__Header {
      flex-direction: column;

      &--title {
        margin-bottom: 10px;
      }
    }
  }
}

.UserNote {
  border-top: 5px solid $primary;
  background-color: $color-dark;
  padding: 12px;
  border-radius: 4px;
  box-shadow: $shadow;

  & abbr {
    text-decoration: none;
  }

  &__Title {
    text-transform: uppercase;
    font-size: 10pt;
    color: $white;
    font-family: $font-secondary;
    margin-bottom: 4px;
  }

  &__Content {
    font-size: 12pt;
    font-weight: 400;
    font-family: $font-secondary;
    position: relative;
    color: $color-gray;
  }

  &__Options {
    margin-top: 4px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    height: 35px;

    & > svg {
      font-size: 30px;
      cursor: pointer;
      transition: all 350ms ease;
      color: $color-gray;

      &:hover {
        transition: all 250ms ease;
        color: $primary;
      }
    }
  }
}

.NoteMultiline {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  overflow-wrap: break-word;
  word-break: break-all;

  &__CopyButton {
    $size: 25px;
    height: $size;
    width: $size;
    transition: all 350ms ease;

    &:hover {
      color: $primary;
      transition: all 250ms ease;
      cursor: pointer;
    }
  }
}
