@import '../global';

.Note {
  border: 2px solid $primary;
  border-radius: $radius;
  box-shadow: $shadow;
  padding: 1em;
  margin-bottom: 1em;

  &__Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: 2px solid rgba($primary, 0.6);

    &--title {
      font-size: 16pt;
      font-weight: 900;
      color: $primary;
    }

    &--buttons {
      display: flex;
      column-gap: 10px;
    }
  }

  &__Content {
    margin-top: 0.5em;

    &--text {
      font-size: 14pt;
      font-weight: 600;
    }

    &--text + &--text {
      margin-top: 10px;
    }
  }
}

.NoteDark {
  border: 2px solid rgba($secondary, 0.4);

  .Note__Header {
    border-bottom: 2px solid $secondary;

    &--title {
      color: $secondary;
    }
  }

  .Note__Content {
    color: $gray;
  }
}

@media (max-width: 360px) {
  .Note {
    &__Header {
      flex-direction: column;

      &--title {
        margin-bottom: 10px;
      }
    }
  }
}
