@import '../global';

.TextArea {
  display: flex;
  border: $border;
  background-color: rgba($primary, 0.1);
  border-radius: $radius;
  box-shadow: $shadow;

  &__Icon {
    border-right: $border;
    width: 35px;
    text-align: center;
    font-size: 14pt;
    padding: 5px 0;
    color: $primary;
  }

  &__TextArea {
    resize: none;
    @include InputStyles();

    &::placeholder {
      color: $placeholder-color;
    }
  }
}
