@import '../global';

.TextArea {
  display: flex;
  border: $border;
  background-color: rgba($primary, 0.1);
  border-radius: $radius;
  box-shadow: $shadow;

  &__Icon {
    border-right: $border;
    width: 35px;
    text-align: center;
    font-size: 14pt;
    padding: 5px 0;
    color: $primary;
  }

  &__TextArea {
    resize: none;
    @include InputStyles();
    padding-top: 5px;

    &::placeholder {
      color: $placeholder-color;
    }
  }
}

.Dark {
  border: 2px solid rgba($white, 0.2);
  background-color: rgba($dark, 0.3);
  box-shadow: 1px 1px 5px $dark;

  .TextArea__Icon {
    color: white;
  }

  .TextArea__TextArea {
    color: white;

    &::placeholder {
      color: rgba(#ffffff, 0.8);
    }
  }
}
