@import '../global';

$toggle-size: 22px;

.Toggle {
  width: 55px;
  height: $toggle-size + 6;
  border-radius: 100px;
  cursor: pointer;
  padding: 3px;

  &__Circle {
    width: $toggle-size;
    height: $toggle-size;
    border-radius: 100px;
    background-color: $secondary;
    transition: transform 300ms ease-in;
  }
}
