@import '../global';

$toggle-size: 22px;

.Toggle {
  width: 50px;
  height: $toggle-size + 2px;
  background-color: $dark;
  border-radius: 100px;
  cursor: pointer;
  padding: 1px;

  &__Circle {
    width: $toggle-size;
    height: $toggle-size;
    border-radius: 50%;
    border: 1px solid $dark;
    background-color: $primary;
    transition: transform 300ms ease-in;
  }
}
