@import '../../../global';

.freeNotes__container {
  width: 100%;
  min-height: calc(100vh - $height-top-menu);
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.freeNotes-white {
  background-color: $white;
}

.freeNotes-dark {
  background-color: $dark;
  color: $white;
}
