@import '../../../global.scss';

.freenotes__mainlist {
  width: 85%;
  justify-self: center;
  margin: 3rem 0;

  .NoteList__Title {
    font-size: $font-size-lg;
  }
}

@media (max-width: 1080px) {
  .freenotes__mainlist {
    margin: 0;
    padding-bottom: 2rem;
  }
}
