@import '../../../global';

.freeNotes__container {
  width: 100%;
  height: calc(100vh - $height-top-menu);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.freeNotes-white {
  background-color: $white;
}

.freeNotes-dark {
  background-color: $dark;
  color: $white;

  & .AddNoteForm__Title {
    .Input {
      width: 355px;
    }
  }
}
