@import '../../../global';

.freeNotes__container {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.freeNotes-white {
  background-color: $white;
}

.freeNotes-dark {
  background-color: #1c1b22;
  color: $white;
}

@media (max-width: 1080px) {
  .freeNotes__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
