@import '../../../global';

.mainForm__container {
  width: 85%;
  justify-self: center;
  padding: 3rem 0;

  h1 {
    font-size: $font-size-lg;
  }

  p {
    font-size: $font-size-sm;
    margin-bottom: 12px;
  }
}

@media (max-width: 1080px) {
  .mainForm__container {
    height: auto;
    padding: 2rem 0;
  }
}
