@import 'Animations';
@import '../../global';

$head-height: 55px;
$gray-note-skeleton: rgba($dark, 0.4);
$gray-note-skeleton-dark: rgba($white, 0.4);

.NoteSkeleton {
  background-color: $white;
  border-radius: 10px;
  height: 130px;
  width: 100%;
  overflow: hidden;
  border: 2px solid $gray-note-skeleton;
  padding: 0 10px;

  &__Head {
    height: $head-height;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      border-radius: 10px;
      width: 65.5%;
      height: 35px;
      @include animateSkeleton(5s, $gray-note-skeleton);
    }

    & > div {
      display: flex;
      align-items: center;

      button + button {
        margin-left: 10px;
      }

      button {
        border-radius: 10px;
        width: 90px;
        height: 35px;
        @include animateSkeleton(10s, $gray-note-skeleton);
        border: none;
      }
    }
  }

  &__Content {
    height: 130px - $head-height;
    padding-top: 10px;
    border-top: 2px solid $gray-note-skeleton;

    p + p {
      margin-top: 4px;
    }

    p {
      border-radius: 5px;
      height: 9px;
      width: 100%;
      @include animateSkeleton(5s, $gray-note-skeleton);
    }

    p:nth-child(2n) {
      width: 96%;
    }
  }
}

.NoteSkeleton--Dark {
  background-color: $dark;
  border: 2px solid $gray-note-skeleton-dark;

  .NoteSkeleton__Head {
    h1 {
      @include animateSkeleton(5s, $gray-note-skeleton-dark);
    }

    & > div {
      button {
        @include animateSkeleton(10s, $gray-note-skeleton-dark);
      }
    }
  }

  .NoteSkeleton__Content {
    border-top: 2px solid $gray-note-skeleton-dark;

    p {
      @include animateSkeleton(5s, $gray-note-skeleton-dark);
    }
  }
}
