@import '../global';

.AddNoteForm {
  border: 2px solid $primary;
  border-radius: 16px;
  overflow: hidden;
  padding: 1em;
  box-shadow: $shadow;

  &__Title {
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 1rem;
    margin-bottom: 1rem;

    & > .Input {
      width: 100%;
    }
  }

  &__CopyButton--container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
  }
}

.AddNoteFormDark {
  .AddNoteForm__CopyButton--container {
    .Button {
      border: 1px solid $white;
      color: $white;
      background: $dark;
    }
  }
}

@media (max-width: 720px) {
  .AddNoteForm {
    &__Title {
      display: flex;
      flex-direction: column;
      margin: 0;

      .Input {
        width: inherit;
      }

      .Button {
        width: inherit;
        margin: 0.8em 0;
      }
    }
  }
}

@media (max-width: 360px) {
  .AddNoteForm {
    &__CopyButton--container {
      margin: 0;

      .Button {
        margin-top: 0.8em;
      }
    }
  }
}
