@import '../global';

.AddNoteForm {
  border: 2px solid $primary;
  border-radius: 16px;
  overflow: hidden;
  padding: 1em;
  box-shadow: $shadow;

  &__Title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    .Input {
      width: 450px;
    }
  }

  &__CopyButton--container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
  }
}

.AddNoteFormDark {
  .AddNoteForm__CopyButton--container {
    .Button {
      border: 1px solid $primary;
      color: $primary;
      background: $dark;
    }
  }
}

@media (max-width: 700px) {
  .AddNoteForm {
    &__Title {
      flex-direction: column;
      margin: 0;

      .Input {
        width: inherit;
      }

      .Button {
        width: inherit;
        margin: 0.8em 0;
      }
    }
  }
}

@media (max-width: 360px) {
  .AddNoteForm {
    &__CopyButton--container {
      margin: 0;

      .Button {
        margin-top: 0.8em;
      }
    }
  }
}
