@import '../global.scss';

.Container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Button {
  background-color: $primary;
  color: $white;
  margin: 0 auto;
  margin-top: 12px;
}

.Error {
  font-family: $font-secondary;
  font-size: 11pt;
  color: $warning;
  margin-top: 8px;
  font-weight: bold;
  text-align: center;
}

.ButtonForgotPin {
  text-decoration: underline;
  font-size: 12pt;
  font-weight: lighter;
  color: $primary;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  margin-top: 8px;
  border: none;
  transition: all 250ms ease;

  &:hover {
    transition: all 350ms ease;
    color: rgba($primary, 0.7);
  }
}
