@import '../global';

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: $height-top-menu;

  a {
    text-decoration: none;
  }

  &--title {
    font-size: $font-size-md;
    font-weight: 600;
  }

  .menu__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;

    &--item {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: $font-size-md;

      a:hover {
        text-decoration: underline;
      }
    }

    &--button {
      display: none;

      .show_menu {
        border: none;
        background-color: transparent;
        display: grid;
        place-items: center;
        cursor: pointer;

        & > svg {
          font-size: 22pt;
        }
      }
    }
  }
}

.menu__container.dark {
  background-color: $dark;
  color: $white;

  a {
    color: inherit;
  }

  svg {
    color: $white;
  }
}

.menu__container.white {
  background-color: $white;
  color: $dark;

  a {
    color: inherit;
  }

  svg {
    color: $dark;
  }
}

@media (max-width: 720px) {
  .menu__container {
    .menu__list {
      &--item {
        display: none;
      }

      &--button {
        display: block;
      }
    }
  }
}
