@import '../global';

.FullMenu {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100%;
  padding: 3em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto;

  a {
    text-decoration: none;
    display: block;
  }

  .close-button {
    $size: 40px;
    border: none;
    width: $size;
    height: $size;
    font-size: $font-size-sm;
    border-radius: $size;
    background-color: transparent;
    font-weight: 900;
    padding-top: 2px;
    justify-self: end;
  }

  h1 {
    font-size: $font-size-lg;
    font-weight: 300;
  }

  .change-theme {
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
    margin-bottom: 10px;

    svg {
      font-size: 18pt;
      margin-right: 5px;
    }
  }

  ul {
    list-style: none;

    .link {
      font-size: 16pt;
      font-weight: 600;
      padding: 10px 0;
    }
  }

  .user-status {
    font-size: 14pt;
    text-decoration: underline;
    font-weight: 300;
  }
}

.FullMenu.white {
  background-color: $white;

  .close-button {
    background-color: $secondary;
    color: $dark;
  }

  .change-theme {
    color: $dark;
  }

  ul {
    border-top: 1px solid $gray;
    .link {
      color: $dark;
    }
  }

  .user-status {
    color: $dark;
  }
}

.FullMenu.dark {
  background-color: $dark;

  h1 {
    color: $white;
  }

  .close-button {
    background-color: $secondary;
    color: $dark;
  }

  .change-theme {
    color: $secondary;
  }

  ul {
    border-top: 1px solid $gray;
    .link {
      color: $secondary;
    }
  }

  .user-status {
    color: $secondary;
  }
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: $height-top-menu;

  a {
    text-decoration: none;
  }

  &--title {
    font-size: $font-size-md;
    font-weight: 600;
  }

  .menu__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;

    &--item {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: $font-size-md;

      a:hover {
        text-decoration: underline;
      }
    }

    &--button {
      display: none;

      .show_menu {
        border: none;
        background-color: transparent;
        display: grid;
        place-items: center;
        cursor: pointer;

        & > svg {
          font-size: 22pt;
        }
      }
    }
  }
}

.menu__container.dark {
  background-color: $dark;
  color: $white;

  a {
    color: inherit;
  }

  svg {
    color: $white;
  }
}

.menu__container.white {
  background-color: $white;
  color: $dark;

  a {
    color: inherit;
  }

  svg {
    color: $dark;
  }
}

@media (max-width: 720px) {
  .menu__container {
    .menu__list {
      &--item {
        display: none;
      }

      &--button {
        display: block;
      }
    }
  }
}
