@import '../global';

.Menu__Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: $height-top-menu;
  padding: 0 1em;

  .Menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;

    &__Item {
      display: flex;
      align-items: center;

      a {
        color: white;
        font-weight: 900;
        font-size: 14pt;
        transition: color 350ms ease-out;
        text-decoration: none;

        &:hover {
          transition: color 250ms ease-in;
          color: $secondary;
          text-decoration: underline;
        }
      }

      svg {
        font-size: 16pt;
        margin-right: 5px;
        color: $secondary;
      }
    }
  }
}

@media (max-width: 720px) {
  .Menu__Container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 0;
    height: auto;

    .Menu__Left {
      display: flex;
      justify-content: center;
      & > li > a {
        font-size: 24pt;
      }
    }

    .Menu {
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 4rem);
      justify-items: center;

      &__Item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
      }

      &__Item:hover {
        background-color: rgba($white, 0.03);
        a {
          text-decoration: none;
        }
      }
    }
  }
}
