@import '../global';

.NoteList {
  display: grid;
  height: calc(80vh);
  grid-template-rows: auto 1fr;
  justify-items: center;

  &__List--Container {
    overflow: auto;
  }
}

.NoteListDark {
  color: $primary;
}

@media (max-width: 360px) {
  .NoteList {
    margin-top: 5px;
    height: auto;

    &__Title {
      margin-bottom: 5px;
    }
  }
}
