@import '../global';

.NoteList {
  display: grid;
  max-height: 80vh;
  grid-template-rows: auto 1fr;
  justify-items: center;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
  }

  &__List--Container {
    overflow: auto;
    width: 100%;
  }
}

.NoteListDark {
  color: $primary;
}

@media (max-width: 720px) {
  .NoteList {
    height: auto;

    &__header {
      flex-direction: column;

      .SearchButton {
        display: grid;
        grid-template-columns: 1fr auto;
        width: 100%;
      }
    }
  }
}

@media (max-width: 360px) {
  .NoteList {
    margin-top: 5px;

    &__Title {
      margin-bottom: 5px;
    }
  }
}
