@import '../global';

.NoteList {
  margin-top: 1em;
  color: $primary;
  text-align: center;
  overflow: auto;
  height: calc(100vh - 373px);

  .Note {
    margin: 0 3px;
    margin-bottom: 10px;
  }
}

.NoteListDark {
  color: $warning;
}

@media (max-width: 360px) {
  .NoteList {
    margin-top: 5px;
    height: auto;

    &__Title {
      margin-bottom: 5px;
    }
  }
}
