@import '../global.scss';

.UserNoteList {
  padding: 20px;

  &_SearchBar {
    & > input {
      border: none;
      height: 35px;
      width: 300px;
      border-radius: 4px;
      padding: 0 8px;
      font-size: $font-size-sm;
      margin-bottom: 20px;
    }
  }

  &_NoteList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 12px;
  }
}

@media (max-width: 720px) {
  .UserNoteList {
    &_NoteList {
      grid-template-columns: 1fr;
    }
  }
}
