@import '../global.scss';
@import '../vars';
@import '../animations';

.colorIcon {
  color: $color-gray;
  cursor: pointer;
  transition-duration: 0.6s;

  &:hover {
    transition-duration: 0.5s;
    transform: scale(1.05) rotate(180deg);
    color: $primary;
  }
}

.CategoriesNewNoteForm {
  position: absolute;
  background-color: $color-dark;
  border: 1px solid $color-light-dark;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  row-gap: 4px;
  z-index: 1;

  &-Close {
    column-gap: scale-spacing(0.5);
  }

  &_Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 2px;
    }

    .Category {
      background-color: $color-light-dark;
      color: $color-gray;
      font-size: $font-size-sm;
      text-transform: capitalize;
      font-family: $font-secondary;
      padding: $spacing;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;

      &.true {
        color: $primary;
      }
    }
  }
}

.UserNewNoteForm {
  margin-top: 8px;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  gap: 8px;

  &-HeaderButtons {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &-CategoryInput {
    display: flex;
    align-items: center;
    color: $color-gray;
    cursor: pointer;
    transition-duration: 0.6s;

    & > p {
      font-family: $font-secondary;
      font-size: $font-size-sm;
      font-weight: bold;
      margin-left: scale-spacing(0.5);
    }

    &:hover {
      transition-duration: 0.5s;
      color: $warning;
    }
  }

  .unnf_sta {
    height: 200px;
  }

  .Input {
    width: 100%;
  }

  .Button {
    justify-self: center;
    align-self: flex-end;
    background-color: $primary;
    color: $color-dark;
    font-family: $font-secondary;
    font-weight: 700;
  }
}

@media (max-height: 750px) {
  .UserNewNoteForm {
    gap: 4px;
    .unnf_sta {
      height: 140px;
    }
  }
}

@media (max-width: 420px) {
  .CategoriesNewNoteForm {
    &_Container {
      grid-template-columns: 1fr;
    }
  }
}
