@import '../global.scss';

.CategoriesTitle {
  font-size: 22pt;
}

.CategoriesList {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 12px;
}

.Categories {
  &-GoBackButton {
    background-color: transparent;
    width: auto;
    height: auto;
    color: $color-gray;
    box-shadow: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-CardMenuBottom {
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-light {
    &-Title {
      @extend .CategoriesTitle;
      color: $primary;
    }

    &-List {
      @extend .CategoriesList;
    }
  }

  &-dark {
    &-Title {
      @extend .CategoriesTitle;
      color: $primary;
    }

    &-List {
      @extend .CategoriesList;
    }
  }
}
