@import '../global.scss';

.CategoriesTitle {
  font-size: 22pt;
}

.CategoriesList {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
}

.Categories {
  &-CardMenuBottom {
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-light {
    &-Title {
      @extend .CategoriesTitle;
    }

    &-List {
      @extend .CategoriesList;
    }
  }

  &-dark {
    &-Title {
      @extend .CategoriesTitle;
      color: $color-gray;
    }

    &-List {
      @extend .CategoriesList;
    }
  }
}
