@use '../../../vars' as *;
@use '../../../global' as *;

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: scale-spacing(2);
  justify-items: center;

  .description {
    height: 150px;
  }
}

.submitButton {
  background-color: $primary;
  color: $light-gray;
  font-weight: bolder;
}
