@import '../../global.scss';

.MultiSelect {
  position: relative;

  &_DivHeader {
    display: flex;
    align-items: center;
  }

  .MultiSelectButton {
    font-weight: bold;
    font-family: $font-secondary;
    outline: none;
    border: none;
    transition: all 350ms;
    text-align: center;
    height: 35px;
  }

  &_BtnTitle {
    @extend .MultiSelectButton;
    text-transform: lowercase;
    color: $primary;
    background-color: $white;
    font-size: 12pt;
    border-radius: 4px;
    padding: 0px 0.8em;

    &:hover {
      transition: all 250ms;
      background-color: $primary;
      color: $white;
    }
  }

  &_BtnClean {
    @extend .MultiSelectButton;
    font-size: 11pt;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    padding: 0.9em 1em;
    background-color: $color-gray;
    color: $color-light-dark;

    &:hover {
      transition: all 250ms;
      color: $color-dark;
    }
  }

  &_DivContent {
    z-index: 1;
    position: absolute;
    bottom: -290px;
    left: 0;
    border: 1px solid $primary;
    background-color: $color-dark;
    border-radius: 4px;
    padding: 8px;
  }

  &-ConfigIconContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-ConfigIcon {
    color: $color-gray;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 250ms ease-in;

    &:hover {
      transition: all 250ms ease-in;
      opacity: 0.7;
      transform: scale(1.1) rotate(45deg);
    }
  }
}
