@import '../../global.scss';

.MultiSelect {
  position: relative;

  &_DivHeader {
    display: flex;
    align-items: center;
  }

  .MultiSelectButton {
    font-weight: bold;
    font-family: $font-secondary;
    outline: none;
    border: none;
    transition: all 350ms;
    text-align: center;
    height: 35px;
  }

  &_BtnTitle {
    @extend .MultiSelectButton;
    text-transform: lowercase;
    color: $primary;
    background-color: $white;
    font-size: 12pt;
    border-radius: 4px;
    padding: 0px 0.8em;

    &:hover {
      transition: all 250ms;
      background-color: $primary;
      color: $white;
    }
  }

  &_BtnClean {
    @extend .MultiSelectButton;
    font-size: 11pt;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    padding: 0.9em 1em;
    background-color: $color-gray;
    color: $color-light-dark;

    &:hover {
      transition: all 250ms;
      color: $color-dark;
    }
  }

  &_DivOptions {
    z-index: 1;
    border: 1px solid $primary;
    position: absolute;
    bottom: -210px;
    left: 0;
    margin-top: 8px;
    border-radius: 4px;
    padding: 8px;
    background-color: $color-dark;
    width: 400px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px;
    overflow-y: auto;
    gap: 8px;

    &-close {
      z-index: 3;
      position: absolute;
      right: 10px;
      top: 2px;
      font-size: 14pt;
      cursor: pointer;
      font-weight: bold;
      transition: all 350ms;

      &:hover {
        transition: all 250ms;
        color: $primary;
      }
    }
  }
}
